body{
	background: rgb(41, 43, 44);
	width: 100%;
}
.videoaire{

	width: 720px;
	height: 405px;
	border: solid 1px white;
	margin: auto;
	justify-content: center;
    align-items: center;
	}

.chateo{
	width: 70%;
	border: solid 1px rgb(95, 67, 20);
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
	justify-content: center;
    align-items: center;
    background-color: rgb(10, 117, 51);

}
.videoair2{
	width: 326px;
	height: 176px;

	margin: auto;
	justify-content: center;
    align-items: center;
	}

.url{
	margin-top: 10px;
	
    font-size: 10px
}

.urlprevio{
	border-radius: 10px;
    font-size: 10px
}

.logotipo{
	position: absolute;
	left: 0;
}

.videoprevio{
	border: solid 1px white;
	border-radius: 10px;

}

.videotam{
    
	width: 160px;
	height: 100px;
}

.videotam1{
	background-image: url('sisenal.jpg');
	background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el video */
	background-position: center; /* Centra la imagen de fondo */
	width: 160px;
	height: 100px;
}


.formulario{
	width: 200px;
}

.videocostado{
	border: solid 1px white;
	border-radius: 10px;
	width: 600px;

}

.top{
	padding-top: 15px;
	padding-bottom: 15px;
}
.imagenlogo{
	width: 240px;
	margin: auto;
	justify-content: center;
    align-items: center;
}

.tablacolor{
	border: solid 1px rgb(244, 169, 20);
	border-radius: 10px;
}